@keyframes backgroundflash {
		75% { opacity:1.0}
		100% {opacity:0.0; display:none}
}

#flash {
	background-color:black;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
	animation: backgroundflash 5s forwards;
}

body {
        width: 100%;
   		height: 100%;
        
      }

.contenedor {
  background: url('../images/padel.jpg') ;
      background-size: cover;
       background-attachment: fixed;
}

ul , li {
	list-style: none;
}

/*tabla eliminatoria*/
.eliminatoria {
  white-space: normal;
  line-height: 100%;
  font-weight: normal;
  font-size: normal;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  width: 100%;

}

.eliminatoria thead {
  background-color: black;
  color: white;
}

.eliminatoria tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.eliminatoria tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.eliminatoria td, .eliminatoria th {
    display: table-cell;
    vertical-align: inherit;
}

/*fin tabla eliminatoria*/

/*nav*/
.separacion {
  margin-right: 7px;
}
/*Fin nav*/

/*Login*/

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 90%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
/*Fin estilo login*/

/*footer*/
#myFooter {
  margin: 0;
  padding: 0;
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}
/*fin estilo footer*/

.icono {
	width: 50px;
	height: 50px;
}

table{
  border-collapse: inherit;
}

.button-organize{
  background-color: rgba(33,37,41,1);
  border:none;
  border-radius: 3px;
  color: white;
}

.color-1{
  color: rgba(33,37,41,1);
}

#languagechooser{
	padding: 0;
	margin-top: 0;
	float: left;
}

#languagechooser ul {
	list-style: none;
}

/* Imagenes de seleccion de idioma*/
.img_idioma_spain {
	width: 72px;
	height: 54px;
}

.img_idioma_england {
	width: 50px;
	height: 50px;
}

/* Custom container */
.container {
margin: 0 auto;
max-width: 1000px;
}
.container > hr {
margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
margin: 80px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 100px;
line-height: 1;
}
.jumbotron .lead {
font-size: 24px;
line-height: 1.25;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}


/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
padding: 0;
}
.navbar .nav {
margin: 0;
display: table;
width: 100%;
}
.navbar .nav li {
display: table-cell;
width: 1%;
float: none;
}
.navbar .nav li a {
font-weight: bold;
text-align: center;
border-left: 1px solid rgba(255,255,255,.75);
border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
border-left: 0;
border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
border-right: 0;
border-radius: 0 3px 3px 0;
}
.username{
  margin-left: 10px;
  margin-right: 10px;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* container width: 750px */
@media (min-width: 768px) {
body {

	}

}

/* Medium devices (desktops, 992px and up) */
/* container width: 970 */
@media (min-width: 992px) {
body {

	}
}



/* Large devices (large desktops, 1200px and up) */
/* container width: 1170px */
@media (min-width: 1200px) {
body {

	}

}
